{% extends 'base.html' %} {% block body %}

<div class="container">
  <h1>Faça Login ou crie a sua conta para continuar</h1>
  <div class="row">
    <div class="col">
      <form method="POST" action="" class="border mt-5 p-2">
        <legend>Login</legend>
        <fieldset>
          <div class="form-group">
            {{ form_login.email.label(class="form-control-label") }}
            {{ form_login.email(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form_login.senha.label(class="form-control-label") }}
            {{ form_login.senha(class="form-control") }}  
          </div>
          <div class="form-group mt-1">
            {{ form_login.lembrar_dados(class="form-check-input") }}
            {{ form_login.lembrar_dados.label(class="form-check-input-label") }}
          </div>
        </fieldset>
        {{ form_login.botao_login(class="btn btn-primary mt-2")}}
      </form>
    </div>
    <div class="col">
      <form method="POST" action="" class="border mt-5 p-2" >
        <legend>Criar Conta</legend>
        <fieldset>
          <div class="form-group">
            {{ form_criarconta.username.label(class="form-control-label") }}
            {{ form_criarconta.username(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form_criarconta.email.label(class="form-control-label") }}
            {{ form_criarconta.email(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form_criarconta.senha.label(class="form-control-label") }}
            {{ form_criarconta.senha(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form_criarconta.confirmacao.label(class="form-control-label") }}
            {{ form_criarconta.confirmacao(class="form-control") }}
          </div>
        </fieldset>
          {{ form_criarconta.botao_submit(class="btn btn-primary mt-2") }}
      </form>
      
    </div>
  </div>
</div>

{% endblock %}
